.main {
  background-color: $bg-secondary-color;
  min-height: 100%;
  max-width: 1120px;
  font-family: $font-primary;

  @media (min-width: $screen-xl) {
    position: relative;
    grid-area: main;
  }

  &__content {
    margin-bottom: 24px;
  }

  &__title-conteiner {
    @media (min-width: $screen-xl) {
      display: flex;
      padding-top: 42px;
      margin-bottom: 8px;
      margin-right: 24px;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-left: 16px;
    font-size: 28px;
    line-height: 40px;
    position: relative;

    &::before {
      content: '';
      width: 4px;
      height: 40px;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: $active-linc-color;
      left: 0;
      position: absolute;

      @media (min-width: $screen-xl) {
        left: -32px;
      }
    }

    @media (min-width: $screen-md) {
      padding-left: 24px;
      margin-bottom: 32px;
    }

    @media (min-width: $screen-xl) {
      padding: 0;
      margin: 0;
      margin-left: 32px;
    }
  }

  &__menu-short {
    display: none;
    @media (min-width: $screen-xl) {
      display: flex;
      gap: 32px;
    }
  }

  &__menu-button {
    @media (min-width: $screen-xl) {
      width: 40px;
      height: 40px;

      &--repair {
        background-image: url('../img/repair.svg');
      }
      &--checkstatus {
        background-image: url('../img/checkstatus.svg');
      }
    }
  }

  &__menu-item {
    display: flex;
    gap: 8px;
  }

  &__navigation {
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }
  }

  &__navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    display: flex;
    white-space: nowrap;
    overflow: scroll;
    align-items: center;

    /* Тускнение */
    &::before {
      content: '';
      width: 24px;
      height: 40px;
      position: absolute;
      right: 0px;
      background-image: linear-gradient(
        to left,
        $fading-color-first,
        $fading-color-second
      );

      @media (min-width: $screen-xl) {
        display: none;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    @media (min-width: $screen-md) {
      padding-left: 24px;
    }

    @media (min-width: $screen-xl) {
      flex-wrap: wrap;
      padding-left: 32px;
    }
  }

  &__navigation-link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: $font-secondary-color;

    &--active {
      border: 2px solid $active-linc-border;
      border-radius: 6px;
    }
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.3;
    }
  }

  &__content {
    @media (min-width: $screen-md) {
      display: flex;
      min-width: 720px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 32px;
      gap: 48px;
    }

    @media (min-width: $screen-xl) {
      display: flex;
      min-width: 1064px;
      margin-left: 34px;
      margin-right: 24px;
      margin-bottom: 51px;
      gap: 36px;
    }
  }

  &__content-description {
    @media (min-width: $screen-md) {
      flex-basis: 312px;
      flex-grow: 1;
    }

    @media (min-width: $screen-xl) {
      flex-basis: 490px;
      flex-grow: 1;
    }
  }

  &__content-paragraph {
    margin: 16px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    height: 90px;
    overflow: hidden;
    text-align: left;

    @media (min-width: $screen-md) {
      margin: 0;
      height: 160px;
      line-height: 20px;
    }

    @media (min-width: $screen-xl) {
      margin: 0;
      height: 160px;
      line-height: 20px;
      height: auto;
      max-height: 80%;
    }
  }

  &__content-button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-left: 48px;
    margin-bottom: 16px;
    color: $font-primary-color;
    position: relative;

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../img/expand.svg');
      left: -32px;
      position: absolute;
    }

    @media (min-width: $screen-md) {
      margin-left: 33px;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  &__content-image {
    display: block;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-md) {
      min-width: 360px;
      flex-basis: 360px;
      flex-grow: 1;
      border-radius: 5px;
    }

    @media (min-width: $screen-xl) {
      min-width: 536px;
      flex-basis: 536px;
      flex-grow: 1;
      border-radius: 5px;
    }
  }
}

.button__label {
  @media (min-width: $screen-xl) {
    order: -1;
    align-self: center;

    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.3;
    }
  }
}

.button_icon--rotate::before {
  transform: scaleY(-1);
}

.showMoreText {
  height: auto;
}
