.main {
  max-width: 1120px;
  color: $font-primary-color;
  font-size: 14px;

  &__price {
    padding-bottom: 40px;
  }

  &__price-slider {
    padding-right: 16px;
    padding-left: 8px;

    &::before {
      height: 200px;
      @media (min-width: $screen-md) {
      }
    }

    @media (min-width: $screen-md) {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 63px;
    }
  }

  &__price-wrapper {
    height: 228px;
    margin-bottom: 16px;

    @media (min-width: $screen-md) {
      background-color: $bg-primary-color;
      height: auto;
      flex-direction: column;
      row-gap: 0;
      border-radius: 10px;
      padding-left: 0;
      padding-right: 0;
      overflow: visible;
      margin-bottom: 24px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }
  }
  &__price-wrapper-header {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      padding-left: 16px;
      position: absolute;
      top: -32px;
      left: 0;
      z-index: 100;
      color: $font-secondary-color;
      width: 100%;
      box-sizing: border-box;
    }

    &--time {
      min-width: 220px;
      margin-right: auto;
    }
  }

  &__price-card {
    flex-direction: column;
    height: 166px;
    flex-basis: 220px;
    padding: 16px;
    align-items: start;

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-basis: 64px;
      padding: 0;
      align-items: center;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $input-border;
      margin: 0 16px;
      width: auto;
      justify-content: start;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__price-card-service-wrapper {
    @media (min-width: $screen-md) {
      &--service {
        width: 348px;
        margin-right: auto;
      }

      &--price {
        width: 74px;
        margin-left: auto;
        margin-right: 22px;
      }

      &--time {
        width: 81px;
        margin-left: 22px;
      }
    }

    @media (min-width: $screen-xl) {
      &--service {
        margin-right: 122px;
      }

      &--price {
        margin-left: 0;
        margin-right: 153px;
      }
    }
  }

  &__price-card-service-characteristics {
    line-height: 16px;
    color: $font-secondary-color;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__price-card-service-description {
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  &__price-card-button--order {
    min-width: 119px;
    min-height: 32px;
    background-color: $button-color;
    color: $bg-primary-color;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    font-weight: 700;
    border-radius: 20px;
    text-align: left;
    padding-left: 12px;
    position: absolute;
    bottom: 16px;
    right: 16px;

    &::before {
      content: '';
      width: 8px;
      height: 10px;
      background-image: url('../img/dropdown_2.svg');
      position: absolute;
      top: 11px;
      right: 20px;
    }

    @media (min-width: $screen-md) {
      position: relative;
      top: 0;
      right: 0;
      margin-left: auto;
    }
  }

  &__price-offer-wrapper {
    margin-left: 8px;
    max-width: 421px;
  }

  &__price-note {
    margin-bottom: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__price-get-offer {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: start;
    font-weight: 500;
    position: relative;
    width: 192px;

    &::before {
      content: '';
      width: 6px;
      height: 12px;
      background: url('../img/Line.svg') 50% 50% no-repeat;
      position: absolute;
      bottom: 5px;
      left: 110px;

      @media (min-width: $screen-md) {
        top: 6px;
        left: 300px;
      }
    }
    @media (min-width: $screen-md) {
      width: 100%;
    }
  }
}

.slider__swiper .main__price-pagination {
  top: 228px;
}
