@import './my-reset.css';
@import './fonts.scss';
@import './variables.scss';

@import './button.scss';
@import './slider.scss';

@import './header.scss';
@import './main.scss';
@import './slider-repair-type.scss';
@import './slider-price.scss';
@import './footer.scss';

@import './menu.scss';
@import './modal.scss';

.wrapper-page-center {
  max-width: 768px;
  margin: 0 auto;
  @media (min-width: $screen-xl) {
    max-width: 1426px;
    display: grid;
    grid-template-areas:
      'menu main'
      'menu footer';
  }
}
.main__side-menu {
  display: none;
  height: 100%;

  @media (min-width: $screen-xl) {
    grid-area: menu;
    display: block;
  }
}
