$bg-primary-color: #ffffff;
$bg-secondary-color: #f8f8f8;
$blur: rgba(255, 255, 255, 0.95);

$input-border: #eaeaea;
$input-text: #b5b6bc;

$shadow-color: rgba(217, 255, 245, 1);
$menu-shadow-color--first: #454f7e05;
$menu-shadow-color--second: #0e185033;

$fading-color-first: rgba(248, 248, 248, 1);
$fading-color-second: rgba(248, 248, 248, 0);

$active-linc-color: #41f6d7;
$active-linc-border: #b8ffec;

$font-primary: 'TT Lakes', sans-serif;

$font-primary-color: #1b1c21;
$font-secondary-color: #7e7e82;
$button-color: #ff3e79;

$pagination-color: #dddddd;
$pagination-color--active: #b5b6bc;

$screen-xs: 320px;
$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1366px;
$screen-xl: 1440px;
